.starterkit-section--faq .faq-list {
  display: grid;
  gap: var(--element-gap);
}

.starterkit-section--faq .faq-item {
  padding: 24px;
  border-radius: var(--radius-md);
  box-shadow: var(--shadow-preset);
  background: #fff;
}

.starterkit-section--faq .faq-item summary {
  cursor: pointer;
  font-weight: 700;
}
